<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
   <name replace-wildcards="yes">AirPrint PDF @ %h</name>
   <service>
      <type>_ipp._tcp</type>
      <subtype>_universal._sub._ipp._tcp</subtype>
      <port>631</port>
      <txt-record>txtvers=1</txt-record>
      <txt-record>qtotal=1</txt-record>
      <txt-record>Transparent=T</txt-record>
      <txt-record>URF=none</txt-record>
      <txt-record>rp=printers/PDF</txt-record>
      <txt-record>note=PDF</txt-record>
      <txt-record>product=(GPL Ghostscript)</txt-record>
      <txt-record>printer-state=3</txt-record>
      <txt-record>printer-type=0x82f04c</txt-record>
      <txt-record>pdl=application/octet-stream,application/pdf,application/postscript,application/vnd.cups-raster,image/gif,image/jpeg,image/png,image/tiff,image/urf,text/html,text/plain,application/vnd.adobe-reader-postscript,application/vnd.cups-command</txt-record>
   </service>
</service-group>
